/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}




/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

/* header logo */
svg {
	fill:grey;
}

header {
	display: flex;
}


main img {
	height: auto;
	width: 100vw;
}

h1 h2 h3 {
	display: flex;
}

main button {
	display: flex;
}